<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sherdle.webtoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.QiblatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrayerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_app_id" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="http" android:host="mysite.com" ></data>
                <data android:scheme="http" android:host="*.mysite.com" ></data>
                <data android:scheme="https" android:host="mysite.com" ></data>
                <data android:scheme="https" android:host="*.mysite.com" ></data>
            </intent-filter>
            -->
        </activity> <!-- ADS -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" /> <!-- temporary fix for Android 12 and OneSignal, should actually update OneSignal to latest version -->
        <activity
            android:name="com.onesignal.NotificationOpenedActivityHMS"
            android:exported="true"
            tools:node="merge" />

        <receiver
            android:name="com.onesignal.BootUpReceiver"
            android:exported="true"
            tools:node="merge" />
        <receiver
            android:name="com.onesignal.UpgradeReceiver"
            android:exported="true"
            tools:node="merge" />

        <receiver android:name=".service.StopServiceReceiver" />

        <receiver android:name=".service.AlarmReceiver" />
        <receiver android:name=".service.alarm.AsrAlarmManager" />
        <receiver android:name=".service.alarm.DhuhurAlarmManager"/>
        <receiver android:name=".service.alarm.ImsakAlarmManager" />
        <receiver android:name=".service.alarm.IsyaAlarmManager" />
        <receiver android:name=".service.alarm.MaghribAlarmManager" />
        <receiver android:name=".service.alarm.SubuhAlarmManager" />
        <receiver android:name=".service.alarm.TerbitAlarmManager" />

        <service android:name=".service.NotificationSoundService"/>
    </application>

</manifest>